In [17]:

from six.moves import urllib
import tarfile
import os
file_path=os.path.join('B:\Python_projects\Insurance_Prediction\notebook_test','insurance.zip')
dataset_download_url =r'https://drive.google.com/u/0/uc?id=1QuiH3YyUUQRMC0h5T-ictME30_kh1H9x&export=download'
urllib.request.urlretrieve(dataset_download_url,'insurance.zip')

('insurance.zip', <http.client.HTTPMessage at 0x23e71a387c8>)

('B:\\Python_projects\\Insurance_Prediction\\notebook_test\\insurance.zip',
 <http.client.HTTPMessage at 0x23e71a1f3c8>)

In [1]:
os.chdir('b:\\Python_projects\\Insurance_Prediction')

In [2]:
file_path=r'B:\Python_projects\Insurance_Prediction\config\config.yaml'

from InsurancePremiumPrediction.config.configuration import Configuration
config=Configuration(file_path)
data_ingestion_coonfig_=config.get_data_ingested_config()

In [3]:
from InsurancePremiumPrediction.component.data_ingestion import DataIngestion
x=DataIngestion(data_ingestion_config=data_ingestion_coonfig_)

In [4]:
x.download_insurance_data()

'b:\\Python_projects\\Insurance_Prediction\\InsurancePremiumPrediction\\artifact\\data_ingestion\\22-07-14-18-31-50\\zip_data\\insurance.zip'

In [5]:
x.extract_zip_file('b:\\Python_projects\\Insurance_Prediction\\InsurancePremiumPrediction\\artifact\\data_ingestion\\22-07-14-18-31-50\\zip_data\\insurance.zip')

In [1]:
import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit
import numpy as np

In [2]:
df=pd.read_csv(r'B:\Python_projects\Insurance_Prediction\InsurancePremiumPrediction\artifact\data_ingestion\22-07-14-18-31-50\raw_data\insurance.csv')
df

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [3]:
df.describe()

               age          bmi     children      expenses
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471     1.094918  13270.422414
std      14.049960     6.098382     1.205493  12110.011240
min      18.000000    16.000000     0.000000   1121.870000
25%      27.000000    26.300000     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.700000     2.000000  16639.915000
max      64.000000    53.100000     5.000000  63770.430000

In [4]:
df.bmi.describe()

count    1338.000000
mean       30.665471
std         6.098382
min        16.000000
25%        26.300000
50%        30.400000
75%        34.700000
max        53.100000
Name: bmi, dtype: float64

In [5]:
df['bmi_category']=pd.cut(df.bmi,bins=[10,20,30,40,50,np.inf],
                         labels=[1,2,3,4,5])

In [6]:
df

      age     sex   bmi  children smoker     region  expenses bmi_category
0      19  female  27.9         0    yes  southwest  16884.92            2
1      18    male  33.8         1     no  southeast   1725.55            3
2      28    male  33.0         3     no  southeast   4449.46            3
3      33    male  22.7         0     no  northwest  21984.47            2
4      32    male  28.9         0     no  northwest   3866.86            2
...   ...     ...   ...       ...    ...        ...       ...          ...
1333   50    male  31.0         3     no  northwest  10600.55            3
1334   18  female  31.9         0     no  northeast   2205.98            3
1335   18  female  36.9         0     no  southeast   1629.83            3
1336   21  female  25.8         0     no  southwest   2007.95            2
1337   61  female  29.1         0    yes  northwest  29141.36            2

[1338 rows x 8 columns]

In [7]:
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

In [8]:
for train_index,test_index in split.split(df,df.bmi_category):
    train=df.loc[train_index]
    test=df.loc[test_index]

In [9]:
train=train.drop(columns=['bmi_category'])
train

      age     sex   bmi  children smoker     region  expenses
776    40    male  32.3         2     no  northwest   6986.70
1040   35  female  28.0         0    yes  northwest  20234.85
270    18    male  29.4         1     no  southeast   1719.44
992    50  female  31.6         2     no  southwest  10118.42
431    29  female  20.2         2     no  northwest   4906.41
...   ...     ...   ...       ...    ...        ...       ...
58     53  female  22.9         1    yes  southeast  23244.79
594    41    male  40.3         0     no  southeast   5709.16
1286   28  female  17.3         0     no  northeast   3732.63
149    19    male  28.4         1     no  southwest   1842.52
725    30  female  39.1         3    yes  southeast  40932.43

[1070 rows x 7 columns]

In [10]:
test=test.drop(columns=['bmi_category'])
test

      age     sex   bmi  children smoker     region  expenses
88     46  female  27.7         0     no  northwest   8026.67
251    63  female  32.2         2    yes  southwest  47305.31
948    42    male  31.3         0     no  northwest   6358.78
441    33  female  33.5         0    yes  southwest  37079.37
1279   25  female  26.8         2     no  northwest   4189.11
...   ...     ...   ...       ...    ...        ...       ...
775    51    male  33.3         3     no  southeast  10560.49
367    42  female  25.0         2     no  northwest   8017.06
216    53  female  26.6         0     no  northwest  10355.64
571    18  female  37.3         1     no  southeast   2219.45
523    38  female  37.7         0     no  southeast   5397.62

[268 rows x 7 columns]

In [1]:
import os
os.chdir('B:\Python_projects\Insurance_Prediction')
from InsurancePremiumPrediction.component.data_ingestion import DataIngestion
from InsurancePremiumPrediction.config.configuration import Configuration
file_path='B:\Python_projects\Insurance_Prediction\config\config.yaml'
config=Configuration(file_path)
data_ingestion_config_=config.get_data_ingested_config()

In [2]:
data_ingestion=DataIngestion(data_ingestion_config=data_ingestion_config_)

In [3]:
data_ingestion.initiate_data_ingestion()

DataIngestionArtifact(train_file_path='B:\\Python_projects\\Insurance_Prediction\\InsurancePremiumPrediction\\artifact\\data_ingestion\\22-07-15-07-13-34\\ingested_data\\train\\insurance.csv', test_file_path='B:\\Python_projects\\Insurance_Prediction\\InsurancePremiumPrediction\\artifact\\data_ingestion\\22-07-15-07-13-34\\ingested_data\\test\\insurance.csv', is_ingested=True, message='Data Ingestion Completed')