In [10]:
import os,sys
from InsurancePremiumPrediction.util.util import read_yaml_file
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
import pandas as pd
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [11]:
os.getcwd()

'B:\\Python_projects\\Insurance_Prediction'

In [12]:
os.chdir('B:\Python_projects\Insurance_Prediction')

In [13]:
train_file_path=r'B:\Python_projects\Insurance_Prediction\InsurancePremiumPrediction\artifact\data_ingestion\22-07-15-13-14-02\ingested_data\train\insurance.csv'

In [14]:
schema_file_path=r'B:\Python_projects\Insurance_Prediction\config\schema.yaml'

In [15]:
schema_data=read_yaml_file(schema_file_path)

In [16]:
categorical_columns=schema_data['categorical_columns']
categorical_columns

['sex', 'smoker', 'region']

In [17]:
numerical_columns=schema_data['numerical_columns']
numerical_columns

['age', 'bmi', 'children']

In [18]:
train_data=pd.read_csv(train_file_path)

In [27]:
train_numerical_data_=pd.DataFrame(train_data,columns=['age','bmi','children'])

In [29]:
train_numerical_data_

      age   bmi  children
0      40  32.3         2
1      35  28.0         0
2      18  29.4         1
3      50  31.6         2
4      29  20.2         2
...   ...   ...       ...
1065   53  22.9         1
1066   41  40.3         0
1067   28  17.3         0
1068   19  28.4         1
1069   30  39.1         3

[1070 rows x 3 columns]

In [30]:
train_y=train_data['expenses']

In [31]:
train_categorical_data=pd.DataFrame(train_data,columns=['sex','smoker','region'])

In [32]:
train_categorical_data

         sex smoker     region
0       male     no  northwest
1     female    yes  northwest
2       male     no  southeast
3     female     no  southwest
4     female     no  northwest
...      ...    ...        ...
1065  female    yes  southeast
1066    male     no  southeast
1067  female     no  northeast
1068    male     no  southwest
1069  female    yes  southeast

[1070 rows x 3 columns]

In [33]:
num_pipeline=Pipeline(steps=[('imputer',SimpleImputer(strategy='most_frequent')),
                                        ('standard',StandardScaler())])
cat_pipeline=Pipeline(steps=[('imputer',SimpleImputer(strategy='most_frequent')),
                                        ('onehotencoding',OneHotEncoder()),
                                        ('standard',StandardScaler(with_mean=False))])

preprocessing_obj=ColumnTransformer(transformers=[('numerical_pipeline',num_pipeline,numerical_columns),
                                                ('categorical_pipeline',cat_pipeline,categorical_columns)]
                                                )

In [34]:
train_data_=train_data.drop(columns='expenses')
train_data_

      age     sex   bmi  children smoker     region
0      40    male  32.3         2     no  northwest
1      35  female  28.0         0    yes  northwest
2      18    male  29.4         1     no  southeast
3      50  female  31.6         2     no  southwest
4      29  female  20.2         2     no  northwest
...   ...     ...   ...       ...    ...        ...
1065   53  female  22.9         1    yes  southeast
1066   41    male  40.3         0     no  southeast
1067   28  female  17.3         0     no  northeast
1068   19    male  28.4         1     no  southwest
1069   30  female  39.1         3    yes  southeast

[1070 rows x 6 columns]

In [35]:
train_array=preprocessing_obj.fit_transform(train_data_)

In [36]:
train_array

array([[ 0.04637978,  0.27349428,  0.76792486, ...,  2.35349071,
         0.        ,  0.        ],
       [-0.30961997, -0.43953109, -0.91757176, ...,  2.35349071,
         0.        ,  0.        ],
       [-1.52001913, -0.2073833 , -0.07482345, ...,  0.        ,
         2.21297438,  0.        ],
       ...,
       [-0.80801962, -2.21380352, -0.91757176, ...,  0.        ,
         0.        ,  0.        ],
       [-1.44881918, -0.37320315, -0.07482345, ...,  0.        ,
         0.        ,  2.35349071],
       [-0.66561972,  1.40106928,  1.61067318, ...,  0.        ,
         2.21297438,  0.        ]])

In [14]:
import numpy as np
train_imputer=SimpleImputer(strategy='most_frequent')

In [16]:
train_numerical_data=train_imputer.fit_transform(train_numerical_data)
train_numerical_dataset=pd.DataFrame(train_numerical_data)
train_numerical_dataset

         0     1    2
0     40.0  32.3  2.0
1     35.0  28.0  0.0
2     18.0  29.4  1.0
3     50.0  31.6  2.0
4     29.0  20.2  2.0
...    ...   ...  ...
1065  53.0  22.9  1.0
1066  41.0  40.3  0.0
1067  28.0  17.3  0.0
1068  19.0  28.4  1.0
1069  30.0  39.1  3.0

[1070 rows x 3 columns]

In [17]:
train_dataset_standard=StandardScaler()
train_dataset_standard=train_dataset_standard.fit(train_numerical_dataset)
train_standard_dataset=train_dataset_standard.transform(train_numerical_dataset)

In [18]:
train_categorical_data

         sex smoker     region
0       male     no  northwest
1     female    yes  northwest
2       male     no  southeast
3     female     no  southwest
4     female     no  northwest
...      ...    ...        ...
1065  female    yes  southeast
1066    male     no  southeast
1067  female     no  northeast
1068    male     no  southwest
1069  female    yes  southeast

[1070 rows x 3 columns]

In [54]:
train_onehotheaded=OneHotEncoder()
train_category_=train_onehotheaded.fit(train_categorical_data)
train_categorical_array=train_onehotheaded.transform(train_categorical_data).toarray()

In [56]:
train_categorical_array

array([[0., 1., 1., ..., 1., 0., 0.],
       [1., 0., 0., ..., 1., 0., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       ...,
       [1., 0., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 1., 0.]])

In [65]:
categorical=StandardScaler(with_mean=False)
categorical.fit(train_categorical_array)
categorical_scalar_data=categorical.transform(train_categorical_array)

In [66]:
arr_=np.c_[train_standard_dataset,categorical_scalar_data]

In [67]:
pd.DataFrame(arr_)

,0,1,2,3,4,5,6,7,8,9,10
0,0.046380,0.273494,0.767925,0.000000,2.000283,2.474361,0.000000,0.000000,2.353491,0.000000,0.000000
1,-0.309620,-0.439531,-0.917572,2.000283,0.000000,0.000000,2.474361,0.000000,2.353491,0.000000,0.000000
2,-1.520019,-0.207383,-0.074823,0.000000,2.000283,2.474361,0.000000,0.000000,0.000000,2.212974,0.000000
3,0.758379,0.157420,0.767925,2.000283,0.000000,2.474361,0.000000,0.000000,0.000000,0.000000,2.353491
4,-0.736820,-1.732926,0.767925,2.000283,0.000000,2.474361,0.000000,0.000000,2.353491,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
1065,0.971979,-1.285212,-0.074823,2.000283,0.000000,0.000000,2.474361,0.000000,0.000000,2.212974,0.000000
1066,0.117580,1.600053,-0.917572,0.000000,2.000283,2.474361,0.000000,0.000000,0.000000,2.212974,0.000000
1067,-0.808020,-2.213804,-0.917572,2.000283,0.000000,2.474361,0.000000,2.337738,0.000000,0.000000,0.000000
1068,-1.448819,-0.373203,-0.074823,0.000000,2.000283,2.474361,0.000000,0.000000,0.000000,0.000000,2.353491
1069,-0.665620,1.401069,1.610673,2.000283,0.000000,0.000000,2.474361,0.000000,0.000000,2.212974,0.000000

In [24]:
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

x_train,x_test,y_train,y_test=train_test_split(arr_,train_y,random_state=100)
ls=LinearRegression()
ls.fit(x_train,y_train)

LinearRegression()

In [25]:
ls.score(x_train,y_train)

0.7706920516840918

In [26]:
y_predict=ls.predict(x_test)

In [27]:
ls.score(x_test,y_test)

0.7009110886132321

In [28]:
ds=DecisionTreeRegressor()
ds.fit(x_train,y_train)

DecisionTreeRegressor()

In [29]:
y_predict=ds.predict(x_test)

In [30]:
ds.score(x_train,y_train)

0.9979112015745231

In [31]:
ds.score(x_test,y_test)

0.6951276808464185

In [32]:
param_grid={
        'n_jobs':[1,2,3,4,5]
            }

In [33]:
gs=GridSearchCV(estimator=ls,n_jobs=10,cv=10,verbose=10,param_grid=param_grid)

In [34]:
gs.fit(x_train,y_train)

Fitting 10 folds for each of 5 candidates, totalling 50 fits

GridSearchCV(cv=10, estimator=LinearRegression(), n_jobs=10,
             param_grid={'n_jobs': [1, 2, 3, 4, 5]}, verbose=10)

In [35]:
gs.score(x_train,y_train)

0.7706920516840918

In [36]:
y_predict=gs.predict(x_test)

In [37]:
gs.score(x_test,y_test)

0.7009110886132321

In [38]:

import plotly

In [39]:
plotly.plot(y_predict,kind='line')
plotly