In [1]:
import pandas as pd
from InsurancePremiumPrediction.util.util import read_yaml_file
schema_file_path=r'B:\Python_projects\Insurance_Prediction\config\schema.yaml'
train_file_path=r'B:\Python_projects\Insurance_Prediction\InsurancePremiumPrediction\artifact\data_ingestion\22-07-15-07-13-34\ingested_data\train\insurance.csv'

schema_data=read_yaml_file(file_path=schema_file_path)
schema_columns=schema_data['columns']

In [2]:
import os
os.chdir("B:\Python_projects\Insurance_Prediction")

In [3]:
schema_columns

{'age': 'int64',
 'sex': 'object',
 'bmi': 'float64',
 'children': 'int64',
 'smoker': 'object',
 'region': 'object',
 'expenses': 'float64'}

In [4]:
df=pd.read_csv(train_file_path)

In [5]:
df=df.drop(columns='bmi_category')

In [6]:
df

      age     sex   bmi  children smoker     region  expenses
0      40    male  32.3         2     no  northwest   6986.70
1      35  female  28.0         0    yes  northwest  20234.85
2      18    male  29.4         1     no  southeast   1719.44
3      50  female  31.6         2     no  southwest  10118.42
4      29  female  20.2         2     no  northwest   4906.41
...   ...     ...   ...       ...    ...        ...       ...
1065   53  female  22.9         1    yes  southeast  23244.79
1066   41    male  40.3         0     no  southeast   5709.16
1067   28  female  17.3         0     no  northeast   3732.63
1068   19    male  28.4         1     no  southwest   1842.52
1069   30  female  39.1         3    yes  southeast  40932.43

[1070 rows x 7 columns]

In [7]:
train_datatype_dataframe=pd.DataFrame(df.dtypes)

In [8]:
schema_datatype_dataframe=pd.DataFrame.from_dict(schema_columns,orient='index')

In [9]:
if schema_datatype_dataframe.equals(train_datatype_dataframe):
    print(True)

True

In [10]:
train_file_path

'B:\\Python_projects\\Insurance_Prediction\\InsurancePremiumPrediction\\artifact\\data_ingestion\\22-07-15-07-13-34\\ingested_data\\train\\insurance.csv'

In [11]:
os.path.dirname(train_file_path)

'B:\\Python_projects\\Insurance_Prediction\\InsurancePremiumPrediction\\artifact\\data_ingestion\\22-07-15-07-13-34\\ingested_data\\train'

In [1]:
import os

In [2]:
os.getcwd()

'b:\\Python_projects\\Insurance_Prediction\\notebook_test'

In [3]:
os.chdir('b:\\Python_projects\\Insurance_Prediction')

In [4]:

from InsurancePremiumPrediction.component.data_ingestion import DataIngestion
from InsurancePremiumPrediction.component.data_validation import DataValidation

from InsurancePremiumPrediction.config.configuration import Configuration
file_path='B:\Python_projects\Insurance_Prediction\config\config.yaml'
config=Configuration(file_path)
data_ingestion_config_=config.get_data_ingested_config()
data_ingestion=DataIngestion(data_ingestion_config=data_ingestion_config_)
data_ingestion_artifact=data_ingestion.initiate_data_ingestion()
data_validation_config_=config.get_data_validation_config()
data_validation=DataValidation(data_validation_config=data_validation_config_,data_ingestion_artifact=data_ingestion_artifact)

In [5]:
os.getcwd()

'b:\\Python_projects\\Insurance_Prediction'

In [6]:
data_validation.validate_dataset()

True

In [7]:
data_validation.is_data_drift_found()

True

In [8]:
data_validation.initiate_data_validation()

DataVlidationArtifact(schema_file_path='b:\\Python_projects\\Insurance_Prediction\\config\\schema.yaml', report_file_path='b:\\Python_projects\\Insurance_Prediction\\InsurancePremiumPrediction\\artifact\\data_validation\\22-07-15-12-54-48\\report.json', report_page_file_path='b:\\Python_projects\\Insurance_Prediction\\InsurancePremiumPrediction\\artifact\\data_validation\\22-07-15-12-54-48\\report.html', is_validated=True, message='******************** Data Validate Successfully')

In [ ]:
train_df=r'B:\Python_projects\Insurance_Prediction\InsurancePremiumPrediction\artifact\data_ingestion\22-07-15-11-49-33\ingested_data\train\insurance.csv'

In [ ]:
import pandas as pd
train_data=pd.read_csv(train_df)

In [ ]:
train_data

      age     sex   bmi  children smoker     region  expenses
0      40    male  32.3         2     no  northwest   6986.70
1      35  female  28.0         0    yes  northwest  20234.85
2      18    male  29.4         1     no  southeast   1719.44
3      50  female  31.6         2     no  southwest  10118.42
4      29  female  20.2         2     no  northwest   4906.41
...   ...     ...   ...       ...    ...        ...       ...
1065   53  female  22.9         1    yes  southeast  23244.79
1066   41    male  40.3         0     no  southeast   5709.16
1067   28  female  17.3         0     no  northeast   3732.63
1068   19    male  28.4         1     no  southwest   1842.52
1069   30  female  39.1         3    yes  southeast  40932.43

[1070 rows x 7 columns]

In [ ]:
test_df=r"B:\Python_projects\Insurance_Prediction\InsurancePremiumPrediction\artifact\data_ingestion\22-07-15-11-49-33\ingested_data\test\insurance.csv"

In [ ]:
test_data=pd.read_csv(test_df)

In [ ]:
test_data

     age     sex   bmi  children smoker     region  expenses
0     46  female  27.7         0     no  northwest   8026.67
1     63  female  32.2         2    yes  southwest  47305.31
2     42    male  31.3         0     no  northwest   6358.78
3     33  female  33.5         0    yes  southwest  37079.37
4     25  female  26.8         2     no  northwest   4189.11
..   ...     ...   ...       ...    ...        ...       ...
263   51    male  33.3         3     no  southeast  10560.49
264   42  female  25.0         2     no  northwest   8017.06
265   53  female  26.6         0     no  northwest  10355.64
266   18  female  37.3         1     no  southeast   2219.45
267   38  female  37.7         0     no  southeast   5397.62

[268 rows x 7 columns]

In [ ]:
from evidently.model_profile import Profile
from evidently.model_profile.sections import DataDriftProfileSection   
import json
from evidently.dashboard import Dashboard
from evidently.dashboard.tabs import DataDriftTab

In [ ]:
profile = Profile(sections=[DataDriftProfileSection()])

In [ ]:
profile.calculate(train_data,test_data)

In [ ]:
report = json.loads(profile.json()) #to convert str into json format

report_file_path =r"B:\Python_projects\Insurance_Prediction\notebook_test\report.json"
report_dir = os.path.dirname(report_file_path)
os.makedirs(report_dir,exist_ok=True)

In [ ]:
with open(report_file_path,"w") as report_file:
    json.dump(report, report_file, indent=6)